.container {
    background-color: #776B5D;
}

.title {
    background-color: #F3EEEA;
    border-radius: 20px;
}

.box {
    background-color: #F3EEEA;
    max-width: 90vh;
}

.return-recipes {
    background-color: #F3EEEA;
    border-radius: 20px;
}

.return-recipes ul {
    list-style: none;
}

.images {
    border: 20px;
}